<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.codeandme.headless.Application">
         </run>
      </application>
   </extension>
   <extension
         id="headless"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.codeandme.headless.application"
            name="Headless Example">
         <property
               name="appName"
               value="Headless Example">
         </property>
      </product>
   </extension>

</plugin>
