<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="com.codeandme.jfreechart.DemoView"
            id="com.codeandme.jfreechart.view1"
            name="JFreeChart Demo"
            restorable="true">
      </view>
   </extension>

</plugin>
